* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
::selection {
    background: rgba(41, 40, 40, 0.637);
    color: white;
}


@media screen and (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
    }

    .button-flex {
        flex-direction: column;
        align-items: center;
    }

    .button-content, .button-primary {
        width: 100%; /* Make buttons take full width */
        margin-bottom: 10px; /* Space between buttons */
    }
}
/* Page section background */
.first-part-page {
    background-color: var(--white);
    background-image: linear-gradient(150deg, var(--second-hover), rgba(255, 255, 255, 0) 40%);
    min-height: 85vh;
    margin-bottom: 100px;
}

:root {
    --white: #0a0e14;
    --first-hover: #212224;
    --second-hover: #4c4848;
    --third-hover: #796e6e;
    --neutral--black-800: #000000;
    --start-now-color: #23286b;
    --start-now-hover-color: #428cfb;
    --dark-grey: #999;
}

.navbar {
    /*background-color: var(--white);
    background-image: linear-gradient(135deg, var(--second-hover), rgba(255, 255, 255, 0) 40%);*/
    padding-top: 16px;
    padding-bottom: 16px;
}

.navbar-nav {
    display: flex;
}

.nav-link {
    color: #ffffff;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.25s;
}

.nav-button {
    background-image: linear-gradient(50deg, var(--first-hover), var(--second-hover));
}

.nav-button a {
    color: #fff;
    background-image: linear-gradient(50deg, var(--first-hover), var(--second-hover));
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    transition: background-position 0.4s ease-in-out;
    background-size: 200% 100%;
    background-position: left bottom;
    position: relative;
    overflow: hidden;
}

.nav-button a:hover {
    background-position: right bottom;
}

.nav-button a::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.4s;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
}

.nav-button a:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.nav-link.active, .nav-link:hover {
    color: #c7ced64f;
}

.navbar-brand {
    color: #23286b;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}

.navbar-toggler {
    background-color: rgb(90, 86, 86);
    margin-left: 40px;
    border: none;
    transition: background-image 5s;
}

.navbar-toggler:focus, .navbar-toggler:active {
    background-color: var(--white);
    background-image: linear-gradient(135deg, var(--second-hover), rgba(255, 255, 255, 0) 100%);
    color: #fff;
}


.logo {
    width: 80px;
}

.action {
    margin-top: 50px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
    padding: 40px;
    display: flex;
    position: relative;
    top: 0;
}

/*.container {
    
}*/

/*.quote {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #fff 35%, rgba(255, 255, 255, .4) 75%);
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 65px;
    font-weight: 600;
    line-height: 1.2;
}*/

.margin-35px {
    margin-top: 35px;
    position: relative;
}

.margin-45px {
    margin-top: 45px;
    position: relative;
}

.action-title-flex {
    text-align: center;
}

.action-subtext {
    opacity: 10 ;
    color: var(--dark-grey);
    margin-top: 0;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.4;
}

.line-absolute {
    opacity: .2;
    width: 100vw;
    position: absolute; 
}

.button-flex {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

.button-main-content {
    background-image: linear-gradient(50deg, var(--first-hover), var(--third-hover));
    color: var(--black);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    background-size: 200% 100%;
    background-position: left bottom;
    transition: background-position 0.4s ease-in-out;
}

.button-main-content:hover {
    background-position: right bottom;
}

.button-main {
    font-size: 1.05rem;
    text-decoration: none;
    color: #ffffff;
}


.button-primary-content {
    color: var(--dark-grey);
    margin: 18px 2px;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.button-primary-content:hover {
    transform: translateY(-2px) scale(0.95) translateX(-5px);
    opacity: 0.8;
    color: var(--black);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section {
    padding: 120px 5%;
    position: relative;
}

.thrive-text {
    font-style: italic;
    color: #fff;
}

.quote {
    margin-top: 80px;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #fff 35%, rgba(255, 255, 255, .4) 75%);
    font-size: 80px; /* Adjust based on your design */
    font-weight: 600;
    line-height: 1.2;
    position: relative; /* Ensure correct positioning context for child elements */
}

.quote-1 {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #fff 35%, rgba(255, 255, 255, .4) 75%);
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: -150px;
    margin-bottom: 0;
    font-size: 50px;
    align-items: center;
    text-align: center;
    font-weight: 600;
    line-height: 1.2;    
}



.line-below {
    position: relative;
    display: inline-block; 
}


.line-below::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 4px;
    background-color: white;
    display: block;
}

.services-section {
    margin-top: 20pc;
    margin-bottom: 15pc;
}

.section-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    background-image: linear-gradient(90deg, #fff 35%, rgba(255, 255, 255, 0.4) 75%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-item {
    background-color: rgba(139, 133, 133, 0.185); 
    padding: 25px; 
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s ease, box-shadow 0.3s ease; /* sets the time of ease on mouse in and mouse out */
    height: 100%;
}

.service-item:hover {
    transform: translateY(-10px); /* makes the services box go up -10px */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.service-title {
    font-style: italic;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
}

.service-description {
    font-weight: 600;
    font-size: 16px;
    color: #a7afaffd;
    line-height: 1.6;
}

.service-icon {
    width: 40px; 
    height: auto;
    margin-bottom: 15px;
}

.about-us-section {
    padding: 80px 0;
}

.about-us-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-us-section {
    padding: 80px 0;
}

.about-us-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-us-item {
    flex: 2;
    font-size: 18px;
    color: #a7afaffd;
    line-height: 1.6;
}

/* General Styles */
.footer {
    background: linear-gradient(135deg, #1e1e1e, #3d3d3d);
    color: #ffffff;
    padding: 40px 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo-footer {
    display: block;
    margin-left: 14px;
}

.footer-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo img {
    max-width: 150px;
    letter-spacing: 10pc;
}

.footer-center {
    text-align: center;
    flex-grow: 1;
}

.footer-links {
    margin-left: 90px;
    margin-bottom: 20px;
    align-items: start;
}

.footer-links p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-links a {
    display: block;
    font-size: 15px;
    color: #ffffff;
    margin: 5px 0;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ff6b6b;
}

.footer-links a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 0%;
    height: 2px;
    background-color: #ff6b6b;
    transition: width 0.3s ease;
}

.footer-links a:hover::before {
    width: 100%;
}

.social-media {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.social-icon {
    color: #ffffff;
    margin: 0 12px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    color: #ff6b6b;
    transform: scale(1.2);
}
.footer-navigation-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 991px) {
    .line-below::after {
        bottom: 5px;
        height: 4px;
    }

    .quote {
        margin-top: 80px;
        font-size: 65px;
        font-weight: 600;
        line-height: 1.2;
        position: relative;
    }

    .section-title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .service-title {
        font-size: 20px;
    }

    .service-description {
        font-size: 14px;
    }

    .service-icon {
        width: 35px;
    }

    .about-us-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        font-size: 14px;
    }

    .about-us-item {
        font-size: 16px;
    }

    .button-flex {
        margin-bottom: 70px;
    }

    .about-gusotos-logo {
        margin-right: 40px;
    }
}

@media (max-width: 769px) {
    .line-below::after {
        height: 4px;
    }

    .action {
        margin-top: 40px;
    }

    .footer-content {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .footer-links {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-center {
        text-align: center;
    }

    .about-gusotos-logo {
        margin-right: 30px;
    }

    .social-media {
        margin-bottom: 20px;
        margin-right: 40px;
    }

    .footer-navigation-contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    .social-icon {
        font-size: 20px;
        align-items: center;
    }

    .footer-navigation-contact .footer-links {
        margin: 20px 30px;
    }

    .footer-navigation-contact .footer-links p {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .quote {
        margin-top: -10px;
        font-size: 40px; /* Adjust based on your design */
    }

    .footer-logo, .social-media {
        margin-bottom: 20px;
    }

    .footer-links {
        flex-direction: column;
        margin: 0 0 10px 0;
        text-align: center;
    }

    .footer-links a {
        margin: 5px 0;
    }

    .social-media {
        margin-bottom: 20px;
        align-items: center;
    }

    .social-icon {
        font-size: 20px;
    }

    .footer-navigation-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        text-align: center;
    }

    .footer-navigation-contact .footer-links {
        margin: 20px 10px;
    }
}


.copyright {
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
}



.about-us-item {
    font-size: 18px;
    font-weight: 435;
    color: #c4c4c4;
    line-height: 1.8;
    text-align: justify;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.about-us-item span {
    color: #ffffff;
    font-weight: 550;
}

.about-us-section::before,
.about-us-section::after {
    content: '';
    display: block;
    height: 3px;
    background: linear-gradient(90deg, #3a3939c2 15%, #0a0e14 95%);
    margin: 20px auto;
    width: 100px;
}

.projects-section {
    padding: 60px 0;
    padding-bottom: 140px;
    background-image: linear-gradient(180deg,#0a0e14 10%, #1e1e1e 70%); /* Light background for contrast */
}

.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.projects-section {
    padding: 60px 0;
    background-color: #f9f9f900;
}

.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 1400px; /* Increased max-width for more space */
    margin: 0 auto;
}

.project-item {
    background-color: #ffffffde;
    border-radius: 25px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.7s ease, box-shadow 0.7s ease;
    flex: 1 1 calc(50% - 60px);
    max-width: 48%;
    text-align: center;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-image-container {
    position: relative;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.7s ease;
}

.project-item:hover .project-image {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(97, 97, 84, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.project-item:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #333;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(196, 192, 192, 0.507);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.7s ease;
}

.project-item:hover .overlay-text {
    transform: scale(1.1);
}

.project-title {
    font-size: 24px;
    margin: 15px 0;
    color: #333;
}

.project-description {
    font-size: 18px;
    font-weight: 700;
    color: #666;
    padding: 0 15px 20px;
}

@media (max-width: 768px) {
    .projects-grid {
        flex-direction: column;
        align-items: center;
    }

    .project-item {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px) {
    .projects-grid {
        gap: 20px;
    }

    .project-item {
        max-width: 45%;
    }

    .section-title {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .project-title {
        font-size: 22px;
        margin: 10px 0;
    }

    .project-description {
        font-size: 12px;
        padding: 0 10px 15px;
    }
}

@media (max-width: 768px) {
    .projects-grid {
        flex-direction: column;
        align-items: center;
    }

    .project-item {
        max-width: 90%;
    }

    .section-title {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .project-title {
        font-size: 20px;
        margin: 10px 0;
    }

    .project-description {
        font-size: 11px;
        padding: 0 10px 10px;
    }

    .overlay-text {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .section-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .project-title {
        font-size: 18px;
        margin: 8px 0;
    }

    .project-description {
        font-size: 10px;
        padding: 0 8px 8px;
    }

    .overlay-text {
        font-size: 12px;
    }
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.open-modal {
    cursor: pointer;
}

.modal-content {
    color: #000;
    background-color: rgba(255, 255, 255, 0.979);
    margin: 5% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-text {
    align-self: flex-end;
    font-weight: 500;
}

.close-modal {
    color: #333;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
    color: #000;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (min-width: 768px) {
    .modal-text {
        width: 62%;
        text-align: left;
    }
    .contact-container {
        display: flex;
        justify-content: space-between;
        padding: 40px;
        max-width: 1400px; /* Increased the max-width to allow more space */
        margin: 0 auto;
        background: #1e1e1e;
        border-radius: 8px;
        
    }
}
.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    max-width: 1400px; /* Increased the max-width to allow more space */
    margin: 0 auto;
    background: #1e1e1e;
    border-radius: 5px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
}

.form-section {
    flex: 3; /* Increased the flex value to occupy more space */
    margin-right: 40px;
    background: #2c2c2c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-section {
    flex: 1; /* Reduced the flex value to occupy less space */
    background: #2c2c2c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
    margin-bottom: 15px;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f9f9f9;
}

textarea {
    resize: none;
    height: 120px;
}

button {
    padding: 14px;
    background: linear-gradient(135deg, #615a58, #978a80);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.info-section ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.info-section ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.info-section p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .form-section {
        margin-right: 0;
        margin-bottom: 40px;
    }
}
.diff-background {
    background-color: #1e1e1e;
}
.dt-space {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.dt-item {
    background-color: rgba(139, 133, 133, 0.185); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .dt-space {
        flex-direction: column;
        align-items: flex-start;
    }

    .dt-item {
        margin-right: 0; 
        margin-bottom: 20px; 
    }
}
.down-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    cursor: pointer; /* Makes the arrow look clickable */
}

.web-link {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    text-decoration: none; 
    color: inherit;
    transition: color 0.8s ease;
}

.web-link a {
    font-family: inherit;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #000;
    background-color: #000;
    color: #b9b5b5;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.web-link a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f35d"; /* Unicode for the external-link-alt icon */
    margin-right: 8px;
}


.web-link i {
    font-style: normal;
    color: inherit;
    text-decoration: none;
    transition: color 0.8s ease;
}

.web-link a:hover {
    font-style: normal;
    border-radius: 5px;
    border: 2px solid #b9b5b5;
    background-color: #b9b5b5;
    color: #000;
}

.web-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 100%; 
    height: auto;
}

@media (max-width: 768px) {
    .web-img {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .web-img {
        width: 80%;
    }
}

@media (min-width: 1201px) {
    .web-img {
        width: 60%;
    }
}

/* General Styles for Testimonials Section */
.testimonials {
    background-image: linear-gradient(180deg,#0a0e14 30%, #383d61 50%, #0a0e14 90%);
    padding: 60px 0;
    text-align: center;
}

.section-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.testimonial-slider {
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.prev-slide, .next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-5%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.prev-slide {
    left: 10px;
}

.next-slide {
    right: 10px;
}

.prev-slide:hover, .next-slide:hover {
    background-color: #ff6b6b;
}


.testimonial-slide {
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffffde;
    border-radius: 10px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

/* Ensure testimonial content is centered and readable */
.testimonial-content {
    font-size: 18px;
    color: #555;
    margin-top: 20px;

    line-height: 1.6; /* Improve readability */
    text-align: center;
}

.testimonial-author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-author img {
    width: 40px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.testimonial-author h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.testimonial-author p {
    font-size: 14px;
    color: #777;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 1024px) {
    .testimonial-slide {
        flex-basis: calc(50% - 30px); /* Two-column layout for tablets */
    }

    .testimonial-content {
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .testimonial-slide {
        flex-basis: calc(50% - 20px); /* Still two-column layout but with reduced margins */
        margin: 10px;
    }

    .testimonial-content {
        font-size: 16px;
    }

    .section-title {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    .testimonial-slider {
        flex-direction: column; /* Stack testimonials vertically */
        align-items: center;
    }

    .testimonial-slide {
        flex-basis: 100%; /* Single-column layout for small screens */
        margin: 10px 0;
    }

    .testimonial-content {
        font-size: 16px;
        text-align: left; /* Align text to the left for better readability */
    }

    .testimonial-author h3 {
        font-size: 18px;
    }

    .testimonial-author p {
        font-size: 13px;
    }
}
